*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 11px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-around;
    background: transparent;
}
.logo{  
    position: relative;
    right: 60px;
    width: 280px;
}
.logo img{
    scale: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #87558f 0%, #3C2F3E 28.53%, #2D1F2B 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 0px;

}
.hero-text h1{
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    font-weight: 2;
    line-height: 1;
    color: white;
    margin: 0 0 5px;
}
.hero-text h4{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}
.hero-text p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.hero-img img{
    position: absolute;
    left: 630px;
    top: 50px;
    width: 10;
    height: auto;
    scale: 85%;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #87558f;
    border: 1px solid transparent;
    padding: 10px 20px;
    line-height: 1;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}
.icons i:hover{
    color: #87558f;
    transform: translateY(-5px);
}
.scroll-down{
    position: fixed;
    bottom: 6%;
    right: 5%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #87558f;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    gap: 5px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: transparent;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}